# vi: ft=yaml

http://andromeda.lasdpc.icmc.usp.br:5011 {
    root * /app/dist/index.html    
    try_files {path} /index.html
    file_server
}

http://andromeda.lasdpc.icmc.usp.br:7011 {
    reverse_proxy portal-1:3000 portal-2:3000 portal-alyx:3000 {
        lb_policy round_robin
    }
}
